---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  
    <div class="container">

      <!-- Real-Time Decision Making-->
      <div class="row">
        <div class="col-sm-5">
          <p><img src="/assets/img/cadre.gif" style="width: 350px; height: 200px;"></p>
        </div>
        <div class="col-sm-7">
          <h5 id="real-time-decision-making">Real-time decision making</h5>
          <p>
            I'm interested in enabling robots to plan and react safely in extreme scenarios and terrains for the next generation of missions.
            In particular, my work explores the intersection of trajectory optimization and reinforcement learning to develop performant algorithms.
          </p>
        </div>
      </div>

      <!-- Machine Learning for Space-->
      <div class="row">
        <div class="col-sm-5">
          <p><img src="/assets/img/icra_granite_table.gif" style="width: 350px; height: 200px;"></p>
        </div>
        <div class="col-sm-7">
          <h5 id="data-driven-numerical-optimization">Machine learning for space applications</h5>
          <p>
           Machine learning and data-driven techniques will play an enabling role in exploring far-flung and remote environments in the Solar System.
           A key thrust of my research is to discover applications wherein machine learning can unlock new capabilities and mission concepts.
          </p>
        </div>
      </div>

      <!-- Spacecraft robotic systems -->
      <div class="row">
        <div class="col-sm-5">
          <p><img src="/assets/img/astrobee_gecko_1.gif" style="width: 350px; height: 200px;"></p>
        </div>
        <div class="col-sm-7">
          <h5 id="spacecraft-robotic-systems">Spacecraft robotic systems</h5>
          <p> Breakthroughs in the use of new sensing, actuation, and computational paradigms available will significantly advance the state-of-the-art in spacecraft robotic systems. </p>
        </div>
      </div>
      
    </div>
  </article>

</div>
